.btn {
  padding: 9px 27px;
  line-height: 24px;
  font-size: 16px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.btn-default {
  background: #ff7b42;
  color: #ffffff;
  border: none;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  background: #383838;
  outline: none;
  color: #ffffff;
}
.btn-default:active:focus {
  outline: none;
}
.btn-default[disabled] {
  background: #b0b0b0;
}
button:focus {
  outline: none;
}
input[type='text'],
input[type='email'] {
  padding: 9px 18px;
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
  line-height: 22px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: transparent;
}
input[type='text']:focus,
input[type='email']:focus {
  border: 1px solid #ff7b42;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}