$body-font: Times,Georgia,serif;
$title-font: Arial,Helvetica, sans-serif;
$font-size: 18px;
$dark-background-color: #ebebeb;
$logo-bg-color: #e67e22;


// colors
$primary-color: #333;
$text-color: #606060;
$title-color: #333;
$link-color: #333;
$link-color-hover: #333;
$light-background-color: #ffffff;
$light-text-color: #b0b0b0;

// category color
$color-france: #3498db;
$color-international: #2ecc71;
$color-sport: #f1c40f;
$color-magazine: #9b59b6;
